$font-stack:    Arial, sans-serif;
$primary-color: #333;
$secondary-color: #e32bcb;
$pretty-red: red;
$blue-face: blue;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
	color: $secondary-color;
	font-size: 3rem;
}